.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox .checkbox-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--input-height);
    width: var(--input-height);
    background-color: var(--color-white);
    box-sizing: border-box;
    border: var(--border);
}

.checkbox:hover input ~ .checkbox-mark {
    background-color: var(--color-grey-1);
}

.checkbox .checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkbox-mark:after {
    display: block;
}

.checkbox .checkbox-mark:after {
    left: 9px;
    top: 2px;
    width: 8px;
    height: 16px;
    border: solid var(--color-black);;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  